$kulay-bg: #ecf0f1
$kulay-text: #2c3e50
$kulay-search: #bdc3c7
$kulay-blue: #3d9ddd
$kulay-red: #c0392b
 
@mixin size_buttons_box($size)
	height: $size
	width: $size

html
	background-color: $kulay-bg

header
	color: $kulay-blue
	font-size: 1.5em
	font-weight: 200
	text-align: center
	text-transform: uppercase
	background-color: #fff
	padding: 0.6em
	display: block
	position: fixed
	top: 0
	width: 98%
	-webkit-box-shadow: 0px -3px 13px 0px rgba(50, 50, 50, 0.3)
	-moz-box-shadow: 0px -3px 13px 0px rgba(50, 50, 50, 0.3)
	box-shadow: 0px -3px 13px 0px rgba(50, 50, 50, 0.3)
	opacity: 0.97
	z-index: 10

#search_box
	margin: 3.5em auto 0.25em auto
	padding: 4em 0
	background-color: lighten($kulay-search, 10%)
	text-align: center

#artist_name
	font-size: 1.1em
	padding: 0.2em
	font-weight: 200
	outline: none

#search_button
	margin-top: 1em
	padding: 0.5em 4em
	background-color: $kulay-blue
	display: inline-block
	text-transform: uppercase
	text-decoration: none
	color: #fff

#search_button:hover
	background-color: darken($kulay-blue, 10%)

#main_body
	width: 61.5em
	margin: 0 auto 0.25em auto
	background-color: $kulay-bg

.result_item
	padding: 0.5em
	margin: 0.25em
	height: 102px
	width: 19em
	background-color: #fff
	display: inline-block
	float: left
	display: none

.album_info
	display: block

	h3
		font-size: 0.7em
		font-weight: 200
		display: inline-block
		-webkit-margin-before: 0
		-webkit-margin-after: 0

	h2
		font-size: 0.8em
		font-weight: 400
		-webkit-margin-before: 0
		-webkit-margin-after: 0

.album_art
	float: left
	height: 100px
	width: 100px
	border: 1px solid $kulay-search
	margin-right: 0.5em

.size_buttons_container
	position: relative
	height: 68%
	z-index: 1

.size_buttons
	display: block
	float: left
	text-transform: uppercase
	font-size: 0.6em
	position: absolute
	bottom: 0
	left: 114px

.album_art_button
	display: inline-block
	background-color: $kulay-blue

.small
	@include size_buttons_box(8px)

.small:hover
	@include size_buttons_box(8px)
	background-color: darken($kulay-blue, 20%)

.medium
	@include size_buttons_box(12px)

.medium:hover
	@include size_buttons_box(12px)
	background-color: darken($kulay-blue, 20%)

.large
	@include size_buttons_box(16px)

.large:hover
	@include size_buttons_box(16px)
	background-color: darken($kulay-blue, 20%)

.orig
	@include size_buttons_box(16px)
	background-color: lighten($kulay-red, 5%)

.orig:hover
	@include size_buttons_box(16px)
	background-color: darken($kulay-red, 5%)

#no_result
	text-align: center
	font-size: 2em
	font-weight: 200
	color: $kulay-red
