/* Stylesheet here */
html
{
    background-color: #ecf0f1;
}

header
{
    font-size: 1.5em;
    font-weight: 200;

    padding: .6em;

    text-align: center;
    text-transform: uppercase;

    color: #3d9ddd;
    background-color: white;
}

#search_box
{
    margin: 0 20em 1em 20em;
    padding: 2em;

    text-align: center;

    background-color: #d9dcde;
}

input[type='text']
{
    font-size: 1.1em;
    font-weight: 200;

    padding: .2em;
}

#search_button
{
    display: inline-block;

    margin-top: 1em;
    padding: .5em 4em;

    text-decoration: none;
    text-transform: uppercase;

    color: white;
    background-color: #3d9ddd;
}

#search_button:hover
{
    background-color: #2284c5;
}

#main_body
{
    padding: 0 20em;

    background-color: #ecf0f1;
}

.result_item
{
    height: 102px;
    margin: .5em 0;
    padding: .5em;

    background-color: white;
}

.album_info
{
    display: block;
}
.album_info h3
{
    font-size: 1.2em;
    font-weight: 200;

    display: inline-block;

    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.album_info h2
{
    font-size: 1.4em;
    font-weight: 400;

    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.album_art
{
    float: left;

    height: 100px;
    margin-right: .5em;

    border: 1px solid #bdc3c7;
}

.size_buttons
{
    font-size: .8em;

    display: block;
    float: left;

    text-transform: uppercase;
}

.album_art_button
{
    display: inline-block;

    background-color: #3d9ddd;
}

.small
{
    width: 10px;
    height: 10px;
    margin-right: .3em;
}

.small:hover
{
    width: 6px;
    height: 6px;

    border: 2px solid #1b6799;
}

.medium
{
    width: 15px;
    height: 15px;
    margin-right: .3em;
}

.medium:hover
{
    width: 11px;
    height: 11px;

    border: 2px solid #1b6799;
}

.large
{
    width: 20px;
    height: 20px;
}

.large:hover
{
    width: 16px;
    height: 16px;

    border: 2px solid #1b6799;
}

#no_result
{
    font-size: 2em;
    font-weight: 200;

    text-align: center;

    color: #c0392b;
}
