/* Stylesheet here */
$kulay-bg: #ecf0f1
$kulay-text: #2c3e50
$kulay-search: #bdc3c7

html
	background-color: $kulay-bg

header
	color: $kulay-text
	font-size: 1.5em
	font-weight: 200
	text-align: center
	background-color: #fff
	padding: 0.6em
	margin-bottom: 0.8em

#main_body
	padding: 0 10em
	background-color: $kulay-search