!!! 5
%html{:lang => 'en'}
	%head
		%title Grab 'em
		%meta{:name => 'viewport', :content => 'initial-scale=1.0, user-scalable=no, width=device-width'}
		%link{:rel => 'stylesheet', :href => 'css/normalize.min.css'}
		%link{:rel => 'stylesheet', :href => 'css/style.css'}
		%link{:rel => 'stylesheet', :href => 'css/animate.min.css'}
	%body
		%header
			Grab 'em
		%section#search_box.animated.fadeInDown
			%form{:id => 'search_form',:name => 'search_artwork', :action => 'javascript:performSearch()'}
				%input{:type => 'text', :id => 'search_term', :placeholder => 'enter search term', :autofocus => 'true'}
				%a{:id => 'search_button', :href => 'javascript:performSearch()'} search
		%section#main_body
		%script{:id => 'template', :type => 'x-tmpl-mustache'}
			.result_item{:id => 'info_{{ itemNo }}'}
				.album_art
					%img{:class => 'artwork_img', :src => '{{ artworkUrl200 }}', :alt => '{{ collectionName }}', :width => '100%', :height => '100%'}
				.album_info
					.inner_info
						%h2
							{{ collectionName }}
						%h3
							{{ artistName }}
				.fade
				.size_buttons_container
					.size_buttons
						%a.album_art_button.small{href: '{{ artworkURLClean }}400x400-75.jpg', target: 'new'}
						%a.album_art_button.medium{href: '{{ artworkURLClean }}600x600-75.jpg', target: 'new'}
						%a.album_art_button.large{href: '{{ artworkURLClean }}1200x1200-75.jpg', target: 'new'}
						{{#originalArt}}
						%a.album_art_button.orig{href: '{{ artworkURLClean }}jpg', target: 'new'}
						{{/originalArt}}
	%footer
		%script{:src => 'js/bundle.min.js'}
		%div{:id => 'search_script'}
