!!! 5
%html{:lang => 'en'}
	%head
		%title Grab 'em
		%meta{:name => 'viewport', :content => 'initial-scale=1.0, user-scalable=no, width=device-width'}
		%link{:rel => 'stylesheet', :href => 'css/normalize.css'}
		%link{:rel => 'stylesheet', :href => 'css/style.css'}
	%body
		%header
			/ this is where we put the header bar
			Grab 'em
		%section#search_box
			%form{:name => 'search_artwork', :action => 'javascript:performSearch()'}
				%input{:type => 'text', :id => 'artist_name', :placeholder => 'enter search term'}
				-# %input{:type => 'button', :value => 'Search', :onClick => 'performSearch()'}
			%a{:id => 'search_button', :href => 'javascript:performSearch()'} Search
			/ search box here
		%section#main_body
			/ search results here
	%footer
		%script{:src => 'js/jquery-1.11.1.min.js'}
		%script{:src => 'js/script.js'}
		%div{:id => 'search_script'}
