!!! 5
%html{:lang => 'en'}
	%head
		%title Grab 'em
		%meta{:name => 'viewport', :content => 'initial-scale=1.0, user-scalable=no, width=device-width'}
		%link{:rel => 'stylesheet', :href => 'css/normalize.css'}
		%link{:rel => 'stylesheet', :href => 'css/style.css'}
	%body
		%header
			/ this is where we put the header bar
			Grab 'em
		%section#search_box
			%form{:name => 'search_artwork', :action => 'javascript:performSearch()'}
				%input{:type => 'text', :id => 'artist_name', :placeholder => 'enter search term'}
				-# %input{:type => 'button', :value => 'Search', :onClick => 'performSearch()'}
			%a{:id => 'search_button', :href => 'javascript:performSearch()'} Search
			/ search box here
		%section#main_body
			/ search results here
		%script{:id => 'template', :type => 'x-tmpl-mustache'}
			.result_item{:id => 'info_{{ itemNo }}'}
				.album_art
					%img{:src => '{{ artworkUrl100 }}', :alt => '{{ collectionName }}', :width => '100', :height => '100'}
				.album_info
					%h2
						{{ collectionName }}
					%h3
						{{ artistName }}
				.size_buttons_container
					.size_buttons
						Album art size:
						%a.album_art_button.small{href: '{{ artworkURLClean }}400x400-75.jpg', target: 'new'}
						%a.album_art_button.medium{href: '{{ artworkURLClean }}600x600-75.jpg', target: 'new'}
						%a.album_art_button.large{href: '{{ artworkURLClean }}1200x1200-75.jpg', target: 'new'}
						{{#originalArt}}
						%a.album_art_button.orig{href: '{{ artworkURLClean }}jpg', target: 'new'}
						{{/originalArt}}
	%footer
		%script{:src => 'js/bundle.js'}
		%div{:id => 'search_script'}
